@model uploadVideo.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<hr />
<p>
    <a asp-controller="Home" asp-action="Register">Register</a>
</p>
<table class="table">
    <tr>
        <th>User Name</th>
        <th>Profession</th>
        <th></th>
    </tr>
@if (Model.talentShower != null)
{
    @foreach (var item in Model.talentShower)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Profession</td>
            <td>                
                <a asp-controller="VideoOperation" asp-action="Delete" asp-route-userId="@item.userId">Delete</a> |
                <a asp-controller="Home" asp-action="Login" asp-route-userId="@item.userId">Login</a>
            </td>
        </tr>
    }
}
</table>
